---
import PRL, { CertificateMode } from "../react/ProgramingLeng.tsx";
import "../../css/global.css"
const { texts } = Astro.props;
---

<section class="featured-tech">
  <!--backend tech-->
  <span class="featured-tech-group">
    <p class="featured-tech-title txt">{texts[0]}</p>
    <ul class="featured-tech-group-list">
        <PRL
        logo="openjdk"
        svg="Java-ED8B00"
        certificateMode={CertificateMode.AAA}
        certificate="java.svg"
        client:load
      />
        <PRL
        logo="scala"
        svg="-Scala-DC322F.svg"
        certificateMode={CertificateMode.NONE}
        client:load
      />
        <PRL
        logo="kotlin"
        svg="Kotlin%20-%237f52ff"
        certificateMode={CertificateMode.NONE}
        color="white"
        client:load
      />
        <PRL
        logo="python"
        svg="Python%20-%2314354C.svg"
        certificateMode={CertificateMode.NONE}
        color="white"
        client:load
      />
    </ul>
  </span>
  <!--others-->
  <span class="featured-tech-group">
    <p class="featured-tech-title txt">{texts[1]}</p>
    <ul class="featured-tech-group-list">
      <PRL
        logo="html5"
        svg="HTML5%20-%23E34F26.svg"
        certificateMode={CertificateMode.IN_PROGRESS}
        color="white"
        client:load
      />
      <PRL
        logo="css3"
        svg="CSS%20-%231572B6.svg"
        certificateMode={CertificateMode.IN_PROGRESS}
        client:load
      />
      <PRL
        logo="tailwindcss"
        svg="-tailwindcss-008373.svg"
        certificateMode={CertificateMode.NONE}
        client:load
      />
      <PRL
        logo="react"
        svg="-React-61DAFB.svg"
        certificateMode={CertificateMode.NONE}
        color="white"
        client:load
      />
      <PRL
        logo="javascript"
        svg="JavaScript%20-%23F7DF1E.svg"
        certificateMode={CertificateMode.NONE}
        color="white"
        client:load
      />
      <PRL
        logo="astro"
        svg="-astro-273347.svg"
        certificateMode={CertificateMode.NONE}
        color="white"
        client:load
      />
      <PRL
        logo="typescript"
        svg="-Typescript-007ACC.svg"
        certificateMode={CertificateMode.NONE}
        color="white"
        client:load
      />
      <PRL
        logo="angular"
        svg="-Angular-DD0031.svg"
        certificateMode={CertificateMode.NONE}
        color="white"
        client:load
        />
    </ul>
  </span>
  <span class="featured-tech-group">
    <p class="featured-tech-title txt">{texts[2]}</p>
    <ul class="featured-tech-group-list">
      <PRL
        logo="github"
        svg="GitHub%20Pages-%23327FC7.svg"
        certificateMode={CertificateMode.NO_EXIST}
        client:load
      />
      <PRL
        logo="vercel"
        svg="-vercel-1563FF.svg"
        certificateMode={CertificateMode.NO_EXIST}
        client:load
      />
    </ul>
  </span>
  <span class="featured-tech-group">
    <p class="featured-tech-title txt">{texts[3]}</p>
    <ul class="featured-tech-group-list">
      <PRL
        logo="git"
        svg="git-%23F05033.svg"
        certificateMode={CertificateMode.AAA}
        certificate="git.svg"
        client:load
      />
      <PRL
        logo="docker"
        svg="-Docker-1488C6.svg"
        certificateMode={CertificateMode.NONE}
        client:load
      />
      <PRL
        logo="github"
        svg="github-%23121011.svg"
        certificateMode={CertificateMode.NO_EXIST}
        client:load
      />
      <PRL
        logo="visual-studio-code"
        svg="Visual%20Studio%20Code-0078d7.svg"
        certificateMode={CertificateMode.NO_EXIST}
        client:load
      />
      <PRL
        logo="linux"
        svg="Linux-FCC624"
        color="black"
        certificateMode={CertificateMode.NONE}
        client:load
      />
      <PRL
        logo="powershell"
        svg="-Powershell-5391FE.svg"
        color="black"
        certificateMode={CertificateMode.NONE}
        client:load
      />
      <PRL
        logo="intellijidea"
        svg="-Intellijidea-000000.svg"
        certificateMode={CertificateMode.NO_EXIST}
        client:load
      />
      <PRL
        logo="eclipseide"
        svg="-Eclipseide-2C2255.svg"
        certificateMode={CertificateMode.NO_EXIST}
        client:load
      />
      <PRL
        logo="apache"
        svg="-netbeans-black.svg"
        certificateMode={CertificateMode.NO_EXIST}
        client:load
      />
    </ul>
  </span>
  <span class="featured-tech-group">
    <p class="featured-tech-title txt">{texts[4]}</p>
    <ul class="featured-tech-group-list">
      <PRL
        logo="gnu-bash"
        svg="Terminal-%23054020"
        color="black"
        certificateMode={CertificateMode.NO_EXIST}
        client:load
      />
      <PRL
        logo="markdown"
        svg="markdown-%23000000.svg"
        certificateMode={CertificateMode.NO_EXIST}
        color="white"
        client:load
      />
    </ul>
  </span>
</section>
<br />
<style>
  @import "tailwindcss/base";
  @import "tailwindcss/components";
  @import "tailwindcss/utilities";

  .featured-tech {
    margin-left: 0.5rem;
    @apply md:ml-4
  }
  .featured-tech-group {
    margin-top: 2rem;
    margin-bottom: 2rem;
    @apply sm:ml-0;
    @apply lg:ml-10;
  }
  .featured-tech-group-list {
    margin-left: 0;
    display: flex;
    @apply sm:ml-0;
    @apply md:ml-5;
    @apply lg:ml-10;
    @apply flex-wrap;
  }
  .featured-tech-title {
    margin-right: 0;
    margin-left: 0;
  }
</style>
