---
import TLabel from "../react/TrasitableLabel.tsx";
const {text, className} = Astro.props;
const textButton = `< ${text} />`
---

<div class={className}>
    <TLabel text={textButton} client:visible/>
</div>