---
import Project, { language } from "./Project.astro";
const { className, text, lenguage } = Astro.props;
import Json from "../../../public/projects/projects.json";
---

<ul class="projects" id="projects-view">
  {
    Json.map((x) => {
      return (
        <li>
          <Project text={text} project={x} lenguage={lenguage} />
        </li>
      );
    })
  }
</ul>
<style>
  @import "tailwindcss/base";
  @import "tailwindcss/components";
  @import "tailwindcss/utilities";

  .projects {
    overflow-x: auto;
    margin-top: 1rem;
    @screen sm{
        display: flex;
    }
  }
</style>