@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


.card {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    width: 16rem;
    --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    border-radius: 0.375rem;
    z-index: 10;
    background-color: transparent;
}
.card-description {
    font-size: 0.875rem;
    line-height: 1.25rem;
    margin-left: 0.5rem;
}
.card-buttons-group {
    background-color: transparent;
}
.card-buttons-group-item {
    background-color: transparent;
    border-width: 0px;
}
