---
interface Props {
  title: string;
  lenguage: language;
  encoding?: string;
  metatexts: string[]
}
const { title, lenguage, encoding = "UTF-8", metatexts } = Astro.props;
import Header from "../components/astro/Header.astro";
import Footer from "../components/astro/Footer.astro";
import { language } from "../components/astro/Project.astro";
---

<!doctype html>
<html lang={lenguage.toString()}>
  <head>
    <meta charset={encoding} />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap"
      rel="stylesheet"
    />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon.png">
    <meta name="description" content={metatexts[0]}>
    <meta property="og:description" content={metatexts[0]}>
    <meta name="twitter:description" content={metatexts[0]}>
    <meta name="twitter:title" content={metatexts[0]}>
    <meta property="og:title" content={metatexts[0]}>
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  </head>
  <body class=" font-source-code-pro">
    <div class="dark:bg-dark-primary-900">
        <Header ContactText={metatexts[1]} actualLenguage={lenguage} />
        <slot />
        <br>
    </div>
  </body>
</html>
